<ion-header>

  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>
     Mi perfil
    </ion-title>

  </ion-toolbar>

</ion-header>


<ion-content>
<h6>Tus datos Son </h6>
 
  
      
  
  <ion-list *ngIf="info">
    <div>
      <ion-label>
        {{info.correo}}
      </ion-label>
      <ion-label>
        {{info.nombre}}
      </ion-label>
      <ion-label>
        {{info.edad}}
      </ion-label>
    </div>
  
</ion-list>
</ion-content>