


      
<ion-content class="ion-padding">
  <ion-row></ion-row>
   <ion-row></ion-row>
      <ion-img src="assets/img/FindPetsICON.png"></ion-img>
      <div id="label">
        <ion-label>Iniciar Sesion</ion-label>
        <ion-row></ion-row>
     </div>
  
  <form [formGroup]="credentials" (ngSubmit)="login()"> 
    
    <ion-item fill ="solid" class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"> </ion-input>
      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors">Email no válido</ion-note>
    </ion-item>

    <ion-item fill ="solid" class="ion-margin-bottom">
      <ion-input type="password" placeholder="password" formControlName="password"> </ion-input>
      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors">Contraseña no válida</ion-note>
    </ion-item>


    <div id="content" class="ion-text-center">
    <ion-button expand="block" type="submit"  [disabled]="!credentials.valid">Ingresar
      <ion-icon name="paw-outline"></ion-icon>
    </ion-button>
    <ion-button expand="block" type="button" (click)="register()">Registrar  
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-button>
  </div>
  </form>

</ion-content>
