<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
      <ion-title>FindPets</ion-title>
 
        <ion-button (click)="perfil()">
          <ion-icon name="person-circle-outline"></ion-icon>
        </ion-button>
      
 
    </ion-buttons>
   

  </ion-toolbar>
</ion-header>

<ion-content >
  <div id="somos">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Quienes Somos?</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
      Aqui en FindPets queremos lo mejor para las mascostas, podrás adoptar, subir alguna mascota perdida o incluso encontrar la tuya.
      </ion-card-content>
    </ion-card>
  </div>
  
  <ion-card>
    <ion-card-content>
      Conoce mas sobre la fundación 
      <a href="https://www.instagram.com/opapenablanca/?hl=es">
      </a> 
      <ion-icon name="logo-instagram"></ion-icon>
    </ion-card-content>
  </ion-card>
  <ion-label class="ion-text-center">
    <h2>Empezamos?</h2>
  </ion-label>
  <div id="content" class="ion-text-center">
  
    <ion-button color="secondary" expand="block" class="btn btn1" (click)="adoptar()">
      <ion-icon name="paw-outline"></ion-icon> Adoptar
      </ion-button>

    <ion-button color="secondary" expand="block" class="btn btn1" (click)="perdido()">
      <ion-icon name="heart-half-outline"></ion-icon>Perdido</ion-button>
  </div>

</ion-content>